@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  background:  #fbfefd;
}


.navbar-expand-sm{
  background-color: #1875a9;
}

.cabecalho-imagem {
  height: 50px;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
  background-color: #1875a9;

}

.nav-link {
  font-family: 'Sarala', sans-serif;
  color: #fbfefd;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
  margin-left: 130 px;
  display: flex;
}

.conteudo {
  margin-top: 50px;
  margin-bottom: 48px;
  border-top: 0.4px solid #1875a9;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-left: 200px;
  margin-right: 200px;
  margin-bottom: 80px;
  margin-top: 80px;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;

}

.conteudo-principal-escrito-titulo {
  font-family: 'Righteous', cursive;
  font-weight: 400;
  font-size: 64px;
  color: #040404;
}

.conteudo-principal-escrito-subtitulo {
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  color: #2b9aca;
  margin-top: 25px;
  margin-bottom: 25px;
}

.conteudo-principal-escrito-botao {
  background-color: #1875a9;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Sarala', sans-serif;
  font-weight: 400;
  font-size: 24px;
  font-style: #d9d9d9;
}

.conteudo-principal-escrito-botao:hover {
  background-color: rgba(185, 189, 193, 0.704);
}

.conteudo-principal-imagem {
  height: 500px;
}


.funcionalidade-titulo{
  font-family: 'Righteous', cursive;
  font-weight: 300px;
  font-size: 24px;
  color: #2b9aca;
  margin-bottom: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
  margin-top: 48px;
  
}

.funcionalidadediv{
  width: 385px;
  height: 480px;
  background-color: #d9d9d9;
  font-family: 'Righteous', cursive;
  text-align: center;
  font-weight: 300;
  font-size: 24px;
  font-style: #fbfefd;
  margin-bottom: 50px;
  display: inline-block;
  margin-left: 18px;
  margin-right: 18px;
  border-radius: 20px;
}

.funcionalidade-subtitulo{
  font-family: 'Righteous', cursive;
  color: #2b9aca;
  margin-bottom: 86px;
  align-items: center;
  margin: 20px;
  font-size: 22px;
  margin-top: 80px;
}

.funcionalidade-paragrafo{
  font-family: 'Sarala', sans-serif;
  font-weight: 50px;
  font-size: 18px;
  color: #040404;
  margin-bottom: 16px;
  align-items: center;
  margin: 20px;
  margin-top: 50px;
}

.duvidas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.duvidas-titulo {
  font-family: 'Righteous', cursive;
  font-weight: 300px;
  font-size: 24px;
  color: #2b9aca;
  margin-bottom: 50px;
}


.duvidas-paragrafo {
  font-family: 'Sarala', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #040404;
  margin-left: 200px;
  margin-right: 200px;
}

.rodape {
    padding: px;
    background-color: #1875a9;

}

