* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
  }
  
  .nav {
    background: #332900;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 1% 5%;
    justify-content: space-between;
  }
  .nav h1 {
    margin-right: 30%;
    color: rgba(255, 255, 255, 0.8);
    font-size: min(25px, 10vw);
  }
  .nav > :nth-child(2) > :nth-child(2) {
    color: rgb(240, 202, 132);
    border-bottom: 1px solid rgb(240, 202, 132);
  }
  .nav a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font-size: min(17px, 5vw);
    padding: 1%;
  }
  .nav a:hover {
    color: rgb(240, 202, 132);
    border-bottom: 1px solid rgb(240, 202, 132);
  }
  
  #one, #three {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background-image: url("https://cdn.hipercultura.com/imagens/hipercultura-deuses-gregos-00.jpg");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
  }
  #one p{
    letter-spacing: 1px;
    word-spacing: 2px;
    color: rgba(255, 255, 255, 0.7);
    text-align: left;
    font-size: min(14px, 2vw);
    line-height: 22px;
    padding: 4%;
  }
  
  h2 {
    font-size: max(35px, 5vw);
    color: rgba(255, 255, 255, 0.8);
    padding: 2%;
    text-shadow: 2px 2px 5px #332900;
  }
  
  .div-one {
    
    max-width: 380px;
    border-radius: 7%;
    background: rgba(0, 0, 0, 0);
    display: flex;
    position: absolute;
    width: 100%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    margin-top: 5%;
    left: 5%;
    top: 20%;
  }
  
  #text {
    border-radius: 5%;
    background-color: #3329;
    color: rgb(255, 255, 255);
    margin: 0px;
    text-align: center;
  }
  
  .button-one {
    max-width: 180px;
    border-radius: 17px;
    background: rgba(0, 0, 0, 0);
    display: flex;
    position: absolute;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    right: 10%;
    bottom: 10%;
  }
  
  #bt {
    background-color: #332900;
    text-color: solid white;
    padding:0px;
    text-align:center;
    width:250px;
    height:50px;
    display:block;
    border-radius: 17px;
    border: 0px;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
  }
  
  #two {
    height: 100vh;
    background-image: url("https://img.quizur.com/f/img5cbb7772a19ef9.17614765.jpeg?lastEdited=1555789730");
    text-align: center;
    background-position: center;
  }
  
  .two-div {
    display: flex;
    align-items: center;
    margin: 100px 5%;
    justify-content: space-between;
    height: 50%;
    position: absolute;
    top: 115%;
  }
  .two-div div {
    width: 30%;
    height: 90%;
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  }
  .two-div > :nth-child(1) {
    background-image: url("http://mitologia-grega.hi7.co/mitologia-grega/mitologia-grega-56416747a33bc.jpg");
    background-position: center;
    background-size: cover;
  }
  
  .two-div > :nth-child(3) {
    background-image: url("https://cdn.hipercultura.com/imagens/hiper-netuno-cke.jpg");
    background-position: center;
    background-size: cover;
  }
  .button-two {
    max-width: 180px;
    border-radius: 17px;
    background: rgba(0, 0, 0, 0);
    display: flex;
    position: absolute;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    right: 10%;
    top: 190%;
  }
  
  #three {
    background-image: url("https://www.eusemfronteiras.com.br/wp-content/uploads/2022/01/matriyoshka-123RF-810x473.jpg");
  }
  
  .text-blck{
    margin: 50px;
    max-width: 320px;
    border-radius: 7%;
    background: rgba(0, 0, 0, 0);
    display: flex;
    position: absolute;
    width: 100%;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    margin-top: 5%;
    left: 20px;
    top: 220%;
  }

  #crsl-egt {
    left: 120px;
    max-width: 20px 33px;
    width: 50%;
  }  

  .button-three {
    max-width: 180px;
    border-radius: 17px;
    background: rgba(0, 0, 0, 0);
    display: flex;
    position: absolute;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    right: 10%;
    top: 295%;
  }
  
  #four {
    height: 100vh;
    text-align: center;
    background-color: #332900;
    display: flex;
  }

  #crsl-galery {
    max-width: 900px;
    width: 100%;
    position: absolute;
    right: 250px;
  }